@charset "utf-8";
/* CSS Document */

.manual {
	background-color:#FF6600 !important;
	color: #FFFFFF !important;
}

.remove {
	background: #FFFF99 url(cancel.png) no-repeat 0 3px;
	cursor: pointer;	
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;	
	padding-right: 3px;
}

.scientific_name {
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	color: red;
	background-color: #FFFF99;
	padding-left: 3px;
	padding-right: 5px;
	cursor:default;
}

.list {
	padding: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.icon_load {
	background-image: url( zoom.png ) !important;
}

.icon_mark {
	background-image: url( table_edit.png ) !important;
}

.icon_fullname {
	background-image: url( table_row_insert.png ) !important;
}

.icon_shortname {
	background-image: url( table_row_delete.png ) !important;
}
